.list {
   padding-left: 0;
}

.button {
    border-bottom: solid 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.anon-link {
    text-decoration: none;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
}

.tagline {
    font-style: italic;
    color: darkslategrey;
}

// .actor-thumbnail {
//     height: auto;
//     // width: 1rem;
// }

// .image-poster {
//     // width: 50%;
//     height: auto;
// }

.card-size {
    // width: 10rem;
    height: auto;
}